<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationContext" connectionString="metadata=res://*/Contexts.ApplicationContext.csdl|res://*/Contexts.ApplicationContext.ssdl|res://*/Contexts.ApplicationContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost,1436;initial catalog=Apagar;persist security info=True;user id=sa;password=Mystr0ngP@ssw0rd!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>